sys-api/src/main/mule/interface.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	<flow name="get_accounts_flow" doc:id="09f7a659-468b-422b-b7be-ef7b436c3e89" >
		<set-payload value='{&#10;  "resultset": {&#10;    "count": 1&#10;  },&#10;  "results": [&#10;    {&#10;      "id": "a0M0w000000iFwYEAU",&#10;      "name": "株式会社Pangu",&#10;      "corporate_number": "1234567890123",&#10;      "corporate_scale": "大企業"&#10;    }&#10;  ]&#10;}' doc:name="set_result" doc:id="744c8293-c3d2-4b5a-bb1e-3cc6999b98e3" mimeType="application/json" encoding="UTF-8"/>
		<logger level="INFO" doc:name="logger_result" doc:id="1ba6303a-ab38-4496-9d89-d94fcb93db27" message="#[payload]"/>
	</flow>
</mule>
