solutions/module02/account_restful_api_solution/mule-flow/src/main/mule/delete-account.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	<flow name="delete_account_flow" doc:id="063b6f97-8b23-4cac-82ab-5a2eb3356a71" >
		<logger level="INFO" doc:name="logger_request" doc:id="6edb4efc-856f-4be3-b1f7-3046c3618f2a" />
		<set-payload value='{&#10;  "id": "a0M0w000000iFwYEAU",&#10;  "name": "株式会社Pangu",&#10;  "corporate_number": "株式会社Pangu",&#10;  "corporate_scale": "大企業"&#10;}' doc:name="set_result" doc:id="b3079bbd-c4f4-4240-b996-02a26742ffe8" />
		<logger level="INFO" doc:name="logger_response" doc:id="5e0f6491-9602-4a0b-9eda-5370ceadd399" message="#[payload]"/>
	</flow>
</mule>
