solutions/module02/account_restful_api_solution/mule-flow/src/main/mule/get-accounts.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	<flow name="get_accounts_flow" doc:id="05b2ec18-547c-4f0d-b573-a16966213fa1" >
		<logger level="INFO" doc:name="logger_request" doc:id="a8868816-5d16-4b2d-99dd-e6a3e54ad00a" />
		<set-payload value='{&#10;  "id": "a0M0w000000iFwYEAU",&#10;  "name": "株式会社Pangu",&#10;  "corporate_number": "株式会社Pangu",&#10;  "corporate_scale": "大企業"&#10;}' doc:name="set_result" doc:id="09314e46-fb5e-4b61-a223-857a9bb1d212" />
		<logger level="INFO" doc:name="logger_response" doc:id="072ee91b-11cd-4724-88d3-0bdd149475b2" message="#[payload]"/>
	</flow>
</mule>
